body{
    margin: 0;
}

section.buttons {
    margin: 2em;
}

input[type="file"]{
    display: none;
}

label.upload {
    font-family: 'Champagne Limousines';
    font-weight: 500;
    font-size: 1em;
    background-color: #FCAF58;
    color: #ffffff;
    border: none;
    border-radius: 9px;
    width: 3em;
    padding: 1em 2em;
    cursor: pointer;
    margin: 0em 0.3em 0em 2em;
    float: left;
}

label.upload:hover{
    background-color: #ffffff;
    color: #FCAF58;
    border: 1px solid #FCAF58;
}

.rst-btn, .nxt-btn, .exe-btn{
    font-family: 'Champagne Limousines';
    font-weight: 500;
    font-size: 1em;
    background-color: #FCAF58;
    color: #ffffff;
    border: none;
    border-radius: 9px;
    width: 10em;
    padding: 1em 2em;
    cursor: pointer;
}

.rst-btn:hover, .nxt-btn:hover,.exe-btn:hover{
    background-color: #ffffff;
    color: #FCAF58;
    border: 1px solid #FCAF58;
}

.rst-btn{
    width: 8em;
    margin-right: 2em;
}

.exe-btn{
    margin-right: 12em;
}


label.next-int, label.prev-int{
    font-family: 'Champagne Limousines';
    font-weight: 500;
    font-size: 1em;
    background-color: #FCAF58;
    color: #ffffff;
    border: none;
    border-radius: 9px 0 0 9px;
    width: 10em;
    padding: 1em 2em;
    cursor: pointer;
}

.next-int-value, .prev-int-value{
    font-family: 'Champagne Limousines';
    font-weight: 500;
    font-size: 1em;
    background-color: #ffffff;
    color: #FCAF58;
    border: 1px solid #FCAF58;
    border-radius: 0 9px 9px 0;
    position: relative;
    padding: 0.95em 2em;
    left: -1em;
}


h1{
    font-family:'Century Gothic', Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 3em;
    letter-spacing: 0.5em;
    opacity: 0.9;
}

.registers .register-block {
    background-color: black;
    color: white;
    font-family: 'Champagne Limousines';
    width: 5em;
    margin: 1em;
    padding: 1em 0em;
    display: inline-table;
}

.registers .register-block:nth-child(13){
    width: 9.3em;
}

.registers .register-block span#regID {
    background: #0c5a08;
    padding: 1em 1.5em;
}

.registers .register-block span.value {
    padding: 1em 1.5em;
}

.registers .register-block:nth-child(13) span.value{
    padding: 1em 1.9em;
}

.memory .memory-block {
    background-color: black;
    color: white;
    font-family: 'Champagne Limousines';
    width: 5em;
    margin: 1em;
    padding: 1em 0em;
    display: inline-table;
}

.memory .memory-block span.memID {
    background: #0c5a08;
    padding: 1em 1.5em;
}

.memory .memory-block span.value {
    padding: 1em 1.5em;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background-color: #757575; 
}
::-webkit-scrollbar-thumb:hover {
    background-color:#FCAF58 ; 
}